# VERTU - Peter Seed - ODIN-725 Apical Assertive Display
service ppd /system/bin/mm-pp-daemon --enable-ad
    class late_start
    user system
    socket pps stream 0660 system system
    group system graphics
# end VERTU - Peter Seed - ODIN-725 Apical Assertive Display
   